<nav>
  <a href="/"><h1>Travel Album</h1></a>
  <p></p>
  <form name="search" action="/search" method="post" class="form-inline my-2 my-lg-0 search">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
  <div class="menu-block">
    <ul class="menu">
      <li>
      <a href=""><img src="<%= current_user.image %>" alt="アカウント画像" width="40" height="40"></a>
        <ul>
          <li><a href="/home/<%= current_user.id %>">ホーム</a></li>
          <li><a href="/follow/<%= current_user.id %>">フォロー</a></li>
          <li><a href="/follower/<%= current_user.id %>">フォロワー</a></li>
          <li><a href="/logout">ログアウト</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
<main>
  <div class="image-detail">
    <% images = Image.where(contribute_id: params[:id]) %>
    <ul class="slider">
      <% images.each do |image|%>
        <li><img src="<%= image.image %>" alt="投稿の画像"></li>
      <% end %>
    </ul>
    <div class="pin-big">　</div>
    <div class="pin-big2">　</div>
  </div>
  <div class="blank"></div>
  <div id='map' class="map"></div>

  <div class="comment">
    <p>投稿者：<a href="/home/<%= @contribute.user_id %>"><img class="acount-image" src="<%= User.find_by(id: @contribute.user_id).image %>" width="40" height="40"></a>　<%= User.find_by(id: @contribute.user_id).name %></a></p>
    <p>場所：<%= Place.find_by(contribute_id: params[:id]).name %></p>
    <p>都道府県：<%= Prefecture.find_by(id: @contribute.prefecture_id).prefecture %></p>
    <p>ジャンル：<%= Type.find_by(id: @contribute.type_id).name %></p>
    <p>内容：<%= @contribute.comment %></p>
  </div>


  <button class="edit"><a href="/edit/<%= params[:id] %>">編集</a></button>
  <button class="delete"><a href="/delete/<%= params[:id] %>">削除</a></button>

  <style>
  #map {
    height: 300px;
    width: 300px;
  }
  </style>

  <script>
  let map

  function initMap(){

    map = new google.maps.Map(document.getElementById('map'), {
      center: {lat: <%= Place.find_by(contribute_id: params[:id]).lat %>, lng: <%= Place.find_by(contribute_id: params[:id]).lng %>},
      zoom: 17
    });

    marker = new google.maps.Marker({
      position: {lat: <%= Place.find_by(contribute_id: params[:id]).lat %>, lng: <%= Place.find_by(contribute_id: params[:id]).lng %>},
      map: map
    });
  }
  </script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAjQu4tJW4hYSUAHBEZMXkLe7lqV8QB76M&callback=initMap" async defer></script>

  <%# アコーディオンメニュー %>
  <script>
  {
  const parentMenu = document.querySelectorAll('.menu > li > a');
  for(let i = 0;i < parentMenu.length;i++) {
    parentMenu[i].addEventListener('click',function(e){
// 今起こっているイベント要素をthis
      e.preventDefault();
      this.nextElementSibling.classList.toggle('active');
    });
  }

}
  </script>

  <%# slick %>
  <script>
  $('.slider').slick({
    autoplay:false,
    autoplaySpeed:5000,
    dots:true,
  });
  </script>
</main>