<nav>
  <a href="/"><h1>Travel Album</h1></a>
  <ul>
  </ul>
  <form name="search" action="/search" method="post" class="form-inline my-2 my-lg-0">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
  <div class="menu-block">
    <ul class="menu">
      <li>
      <a href=""><img src="<%= current_user.image %>" alt="アカウント画像" width="40" height="40"></a>
        <ul>
          <li><a href="/home/<%= current_user.id %>">ホーム</a></li>
          <li><a href="/follow/<%= current_user.id %>">フォロー</a></li>
          <li><a href="/follower/<%= current_user.id %>">フォロワー</a></li>
          <li><a href="/logout">ログアウト</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
<main>
  <div class="image-detail">
    <img src="<%= Image.find_by(contribute_id: params[:id]).image %>" alt="投稿の画像" width="600" height="500">
  </div>
  <div class="blank"></div>
  <div id='map'></div>

  <div class="comment">
    <p>場所：<%= Place.find_by(contribute_id: params[:id]).name %></p>
    <p>都道府県</p>
    <p>ジャンル</p>
    <p>内容：<%= @contribute.comment %></p>
  </div>

  <style>
  #map {
    height: 300px;
    width: 300px;
  }
  </style>

  <script>
  let map

  function initMap(){

    map = new google.maps.Map(document.getElementById('map'), {
      center: {lat: <%= Place.find_by(contribute_id: params[:id]).lat %>, lng: <%= Place.find_by(contribute_id: params[:id]).lng %>},
      zoom: 17
    });

    marker = new google.maps.Marker({
      position: {lat: <%= Place.find_by(contribute_id: params[:id]).lat %>, lng: <%= Place.find_by(contribute_id: params[:id]).lng %>},
      map: map
    });
  }
  </script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAjQu4tJW4hYSUAHBEZMXkLe7lqV8QB76M&callback=initMap" async defer></script>

  <%# アコーディオンメニュー %>
  <script>
  {
  const parentMenu = document.querySelectorAll('.menu > li > a');
  for(let i = 0;i < parentMenu.length;i++) {
    parentMenu[i].addEventListener('click',function(e){
// 今起こっているイベント要素をthis
      e.preventDefault();
      this.nextElementSibling.classList.toggle('active');
    });
  }

}
  </script>
</main>