<nav>
  <a href="/"><h1>Travel Album</h1></a>
  <ul>
  </ul>
  <form action="/search" method="post" class="form-inline my-2 my-lg-0">
    <input name="search" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
  <div class="menu-block">
    <ul class="menu">
      <li>
      <a href=""><img src="<%= current_user.image %>" alt="アカウント画像" width="40" height="40"></a>
        <ul>
          <li><a href="/home/<%= current_user.id %>">ホーム</a></li>
          <li><a href="/follow/<%= current_user.id %>">フォロー</a></li>
          <li><a href="/follower/<%= current_user.id %>">フォロワー</a></li>
          <li><a href="/logout">ログアウト</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
<main>
  <div class="container-fluid">
    <div class="page-title">
      <h2><%= User.find_by(id: params[:id]).name %>の投稿</h2>
      <% if current_user.id == params[:id].to_i %>
        <button class="add"><a href="/new">追加</a></button>
      <% else %>
        <% if Follow.find_by(following_id: current_user.id, followed_id: params[:id]).nil? %>
          <button class="btn btn-light btn-follow"><a href="/follow/add/<%= params[:id] %>">フォローする</a></button>
        <% else %>
          <button class="btn btn-light btn-follow"><a href="/follow/delete/<%= params[:id] %>">フォロー解除</a></button>
        <% end %>

      <% end %>
      <br>
      <p>　</p>
    </div>
    <%#= eachを用いて投稿をループで表示する %>
    <div class="row contribute">
      <% Contribute.where(user_id: params[:id]).each do |contribute| %>
        <div class="col-lg-4 contribute-element">
          <a href="/detail/<%= contribute.id %>"><img src="<%= Image.find_by(contribute_id: contribute.id).image %>" alt="投稿の画像" width="300" height="250"></a>
        </div>
      <% end %>
    </div>
  </div>
</main>

<script>
  {
  const parentMenu = document.querySelectorAll('.menu > li > a');
  for(let i = 0;i < parentMenu.length;i++) {
    parentMenu[i].addEventListener('click',function(e){
// 今起こっているイベント要素をthis
      e.preventDefault();
      this.nextElementSibling.classList.toggle('active');
    });
  }

}
  </script>