<nav>
  <a href="/"><h1>Travel Album</h1></a>
  <p></p>
  <form action="/search" method="post" class="form-inline my-2 my-lg-0 search">
    <input name="search" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
  <div class="menu-block">
    <ul class="menu">
      <li>
      <a href=""><img src="<%= current_user.image %>" alt="アカウント画像" width="40" height="40"></a>
        <ul>
          <li><a href="/home/<%= current_user.id %>">ホーム</a></li>
          <li><a href="/follow/<%= current_user.id %>">フォロー</a></li>
          <li><a href="/follower/<%= current_user.id %>">フォロワー</a></li>
          <li><a href="/logout">ログアウト</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
<main>
  <form action="/new" method="post" enctype="multipart/form-data" class="form-new col-md-4 mb-3">
    <input class="file" type="file" name="image"><br>
    <select name="prefecture" class="custom-select d-block w-100">
      <option value="">都道府県を選択してください</option>
      <% @prefectures.each do |prefecture| %>
        <option value="<%= prefecture.id %>" <% if  false %> selected <% end %>><%= prefecture.prefecture %></option>
      <% end %>
    </select><br>
    <select name="type" class="custom-select d-block w-100">
      <option value="">ジャンルを選択してください</option>
      <% @types.each do |type| %>
        <option value="<%= type.id %>"><%= type.name %></option>
      <% end %>
    </select><br>
    <textarea name="comment" id="" cols="35" rows="10"></textarea>
    <input type="hidden" value="" id="lat" name="lat">
    <input type="hidden" value="" id="lng" name="lng">
    <input type="hidden" value="" id="name" name="name">
    <input type="submit" value="登録">
  </form>

  <%# Google Mapを表示＆検索 %>
  <div class="map">
    <div id='map'></div>
    <input type="text" name="place" id="place" placeholder="場所の検索" class="form-control mr-sm-2">
    <input type="submit" id="submit" value="検索" class="btn btn-light my-2 my-sm-0">
  </div>

  <style>
  #map {
    height: 350px;
    width: 350px;
  }
  </style>

  <script type="text/javascript">
  let map

  $(function(){

    $("#submit").click(function(){
      var place = $("#place").val();
      console.log("押されたよ");
      console.log(place);
      $.ajax({
        type: "POST",
        url: "/mapsearch",
        dataType: "json",
        data: {
          place: place
        },
        success: function(json) {
          console.log("success");
          search(json);
        },
        error: function() {
          console.log("error");
          initMap();
        }
      });
    });
  });

  function initMap() {
    map = new google.maps.Map(document.getElementById('map'), {
      center: {lat: 40.7828, lng:-73.9653},
      zoom: 17
    });

    marker = new google.maps.Marker({
      position: {lat: 40.7828, lng:-73.9653},
      map: map
    });
  }


  function search(json){
    console.log("jsonの中身↓")
    console.log(json)
    map = new google.maps.Map(document.getElementById('map'), {
      center: {lat: json["lat"], lng: json["lng"]},
      zoom: 17
    });

    marker = new google.maps.Marker({
      position: {lat: json["lat"], lng: json["lng"]},
      map: map
    });

    document.getElementById("lat").value = json["lat"];
    document.getElementById("lng").value = json["lng"];
    document.getElementById("name").value = json["name"];
  }
  </script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAjQu4tJW4hYSUAHBEZMXkLe7lqV8QB76M&callback=initMap" async defer></script>

  <script>

  </script>

</main>

<script>
{
  const parentMenu = document.querySelectorAll('.menu > li > a');
  for(let i = 0;i < parentMenu.length;i++) {
    parentMenu[i].addEventListener('click',function(e){
// 今起こっているイベント要素をthis
      e.preventDefault();
      this.nextElementSibling.classList.toggle('active');
    });
  }
}
</script>
