<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/"><h1>Travel Album</h1></a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    <a href="/menu"><img src="<%= current_user.image %>" alt="アカウント画像" width="40" height="40"></a>
  </div>
</nav>
<main>
  <form action="/new">
    <input type="file" name="images"><br>
    <select name="prefecture">
      <option value="default">都道府県を選択してください</option>
      <% @prefectures.each do |prefecture| %>
        <option value="<%= prefecture.id %>"><%= prefecture.prefecture %></option>
      <% end %>
    </select><br>
    <select name="type" id="type">
      <option value="default">ジャンルを選択してください</option>
      <% @types.each do |type| %>
        <option value="<%= type.id %>"><%= type.name %></option>
      <% end %>
    </select><br>
    <textarea name="comment" id="" cols="30" rows="10"></textarea>
    <input type="submit" value="登録">
  </form>

  <%# Google Mapを表示＆検索 %>
  <form action="/mapsearch" method="post">
    <input type="text" name="map_key" placeholder="場所の検索">
    <input type="submit" value="検索">
  </form>

  <div id='map'></div>

  <style>
  #map {
    height: 350px;
    width: 350px;
  }
  </style>

  <script>
  let map

  function initMap(){

    map = new google.maps.Map(document.getElementById('map'), {
      <% if @lat == nil %>
        center: {lat: 40.7828, lng:-73.9653},
      <% else %>
        center: {lat: <%= session[:lat] %>, lng: <%= session[:lng] %>},
      <% end %>
      zoom: 17
    });

    marker = new google.maps.Marker({
      <% if @lat == nil %>
        position: {lat: 40.7828, lng:-73.9653},
      <% else %>
        position: {lat: <%= session[:lat] %>, lng: <%= session[:lng] %>},
      <% end %>
      map: map
    });
  }
  </script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAjQu4tJW4hYSUAHBEZMXkLe7lqV8QB76M&callback=initMap" async defer></script>


</main>